@font-face {
    font-family: 'Alinur';
    src: url('LiAlinurKurigramUnicode.woff2') format('woff2'),
        url('LiAlinurKurigramUnicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SirajeeSanjar';
    src: url('LiSirajeeSanjarUnicode.woff2') format('woff2'),
        url('LiSirajeeSanjarUnicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

